.catalog {
  display: grid;
  justify-content: center;
  gap: $card-gap;

  @each $col, $width in $screens-templates {
    @media (min-width: $width) {
      @include repeat($col);
    }
  }

  &__card {
    display: grid;
    width: $card-width;
    height: $card-height;
    place-content: center;

    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
